h1{
  font-size: 70px;
  font-style: italic;
}
body{
  font-style: oblique;
  color: black;
  background-image: url(../photos/ja.gif);
  background-size: cover;
}
#finalOutput{
  display: none;
}
.container{
  background-image: url(../photos/ja.gif);
}
.jumbotron{
margin: 10px;
border-radius: 5px;

}
